<div class="row">
    <div class="col-xs-12">
        <hr><br/><br/>
    </div>
</div>
<div class="panel panel-primary">
    <form [formGroup]="editPostForm" (ngSubmit)="submitForm()">
        <div class="panel-heading">
            Edit Post
        </div>
        <div class="panel-body">
            <div class="form-group has-feedback">
                <label for="name">Name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    #name
                    formControlName="name"
                >
                <div class="help-block has-feedback"></div>
            </div>
            <div class="form-group has-feedback">
                <label for="body">Body:</label>
                <textarea
                    class="form-control"
                    id="body"
                    name="body"
                    #body
                    formControlName="body"
                ></textarea>
                <div class="help-block has-feedback"></div>
            </div>
            <input
                type="hidden"
                class="form-control"
                id="published_at"
                name="published_at"
                #published_at
                formControlName="published_at"
            >
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-success btn-block" value="Update Post">
        </div>
    </form>
</div>