<div class="jumbotron">
    <h1>Angular Blog</h1>
    <p>
        This is a simple blog app with user authentication.
    </p>
    <hr>
    <div class="row">
        <div class="col-sx-12 col-sm-6 col-md-6">
            <h3>Front - End</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    Angular 4
                </li>
                <li class="list-group-item">
                    Bootstrap
                </li>
            </ul>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
            <h3>Back - End</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    Express
                </li>
                <li class="list-group-item">
                    Node
                </li>
                <li class="list-group-item">
                    MongoDB
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <hr>
        <p>
            <a class="btn btn-primary btn-lg" routerLink="login">
                login
            </a>
            <a class="btn btn-primary btn-lg" routerLink="register">
                Register
            </a>
        </p>
    </div>
</div>
<div
    *ngFor="let post of posts"
    class="panel panel-warning"
>
    <div class="panel-heading">
        {{post.name}}. By: {{post.author }}
    </div>
    <div class="panel-body">
        {{post.body}}
    </div>
    <div class="panel-footer">
        <span class="glyphicon glyphicon-calendar"></span> <strong>{{post.published_at | date:"fullDate" }}</strong>
    </div>
</div>